<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/product_actions.js' %}"></script>
</head>
<body>
    <header>
        <a class="home" href="{% url 'product_list' %}"><button class="button-home"><img style="max-height:5vh;" src="{% get_media_prefix %}home_logo.png"/></button></a>
        {% block header %}{% endblock %}
    </header>
    <main>{% block main %}{% endblock %}</main>
</body>
</html>
